<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Qualtrics:</strong>
    <%= question.qualtrics_id %>
  </p>

  <p>
    <strong>Salesforce:</strong>
    <%= question.salesforce_id %>
  </p>

  <p>
    <strong>Heading:</strong>
    <%= question.heading %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= question.survey_id %>
  </p>

</div>
