<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Edit Profile</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: @user, url: registration_path, method: :patch) do |form| %>
            <% if @user.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="mb-3">
              <%= form.label :email_address, class: "form-label" %>
              <%= form.email_field :email_address, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= form.label :password, class: "form-label" %>
              <%= form.password_field :password, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= form.label :password_confirmation, class: "form-label" %>
              <%= form.password_field :password_confirmation, class: "form-control" %>
            </div>

            <div class="d-grid">
              <%= form.submit "Update", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
