<h3 class="card-title mb-3">Response</h3>
<%= render @response %>

<div class="card">
  <div class="card-body">
    <% i = 1 %>
    <% @answers.each do |answer| %>
      <div class="question-answer-wrapper my-4 mx-3">
        <h5 class="card-title" id="heading<%= answer.question.name %>"><%= i %>. <%= answer.question.heading %></h5>
        <p class="card-text mb-3"><%= answer.value %></p>
      </div>
      <% i += 1  %>
    <% end %>
  </div>
</div>
