<div class="mt-3">
  <p><strong>Number of Questions:</strong> <%= survey.questions.count %></p>
  <p><strong>Number of Responses:</strong> <%= survey.responses.count %></p>
</div>
<div id="<%= dom_id survey %>">

  <div class="accordion" id="accordionSurvey">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Survey Questions
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionSurvey">
        <div class="accordion-body">
          <table class="table">
            <thead>
              <tr>
                <th>Question Name</th>
                <th>Question Heading</th>
              </tr>
            </thead>
            <tbody>
              <% survey.questions.each do |question| %>
                <tr>
                  <td><%= question.name %></td>
                  <td><%= question.heading %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Survey Responses:
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse hide" aria-labelledby="headingTwo" data-bs-parent="#accordionSurvey">
        <div class="accordion-body">
          <div id="responses">
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <% survey.responses.each do |response| %>
                  <li class="list-group-item"><%= render response %>
                    <p>
                      <%= link_to "Show this response", response, class: "btn btn-outline-brand" %>
                    </p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
